# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Mac-FileSystem
.DS_Store
Resources/client
Resources/server

Lab 1/Question 1.1/client
Lab 1/Question 1.1/server
Lab 1/Question 1.2/client
Lab 1/Question 1.2/server
Lab 1/Question 2/c
Lab 1/Question 2/s
Lab 1/Question 2/server
Lab 1/Question 2/client
